.my-apps {
  .bg-container {
    .container {
      padding: 0;
    }
  }

  .dropdown-menu {
    width: auto;
    min-width: 10rem;
  }

  .menu-button {
    width: 52px;
    min-width: 52px;
    height: 42px;
    padding: 0;
    margin-right: 2rem;
  }
}
