//Media breakpoint

@mixin media-breakpoint-sm() {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin media-breakpoint-md() {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin media-breakpoint-lg() {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin media-breakpoint-xl() {
  @media (max-width: 1199.98px) {
    @content;
  }
}

// React Toast mixin

@mixin react-toast() {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999;
  color: #fff;
}
